@model IEnumerable<MvcSeleniumScraper.Models.WorldTradeStockCurrent>

@{
    ViewBag.Title = "Index";
}

<h2 class="jumbotron">WorldTradeData API</h2>
<p>Current Stock Data</p>

<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Change)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangePercent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Change)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangePercent)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Symbol }) 
        </td>
    </tr>
}

</table>
