@model IEnumerable<MvcSeleniumScraper.Models.WorldTradeStockCurrent>

@{
    ViewBag.Title = "Index";
}

<h2 class="jumbotron">WorldTradeData API Current</h2>
<button>@Html.ActionLink("Update Stock Info", "NewScrape", "WorldTradeStockCurrents")</button>
<button>@Html.ActionLink("Stock History", "Index", "WorldTradeStockHistories")</button>


<p>

</p>
<table class="table table-hover" style="table-layout: fixed;">
    <tr>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.Change)
        </th>
        <th style="text-align: center;">
            @Html.DisplayNameFor(model => model.ChangePercent)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr style="text-align: center;">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Change)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangePercent)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Symbol })
        </td>
    </tr>
    }
</table>
