@model IEnumerable<MvcSeleniumScraper.Models.StockHistory>

@{
    ViewBag.Title = "Index";
}

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="~/Scripts/paginathing.js"></script>


<h2 class="jumbotron">Yahoo Stock History</h2>

<table id="pagnation" class="table";">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgVol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarketCap)
            </th>
        </tr>
    </thead>
    <tbody id="yahoo">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChangePercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgVol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketCap)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <button>@Html.ActionLink("Clear Stock History", "ClearStockHistory", "StockHistories")</button>
</div>

<script>
    $('#yahoo').paginathing({
        perPage: 10,
    });

</script>
