
@{
    ViewBag.Title = "PickStock";
}

<h1>Pick your Stock Source</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Yahoo Finance</h2>
        <p>
            TODO
        </p>
        <button>@Html.ActionLink("Current Data", "Index", "Stocks")</button>
        <button>@Html.ActionLink("Stock History", "Index", "StockHistories")</button>

        <p>@Html.ActionLink("Go to Stocks", "Index", "NasdaqStockCurrents")</p>
    </div>
    <div class="col-md-4">
        <h2>Most active stock list on the Nasdaq Website</h2>
        <p>
            TODO
        </p>
        <button>@Html.ActionLink("Current Data", "Index", "NasdaqStockCurrents")</button>
        <button>@Html.ActionLink("Stock History", "Index", "NasdaqStockHistories")</button>
    </div>
    <div class="col-md-4">
        <h2>WorldTradingData Api</h2>
        <p>TODO</p>
        <button>@Html.ActionLink("Current Data", "Index", "WorldTradeStockCurrents")</button>
        <button>@Html.ActionLink("Stock History", "Index", "WorldTradeStockHistories")</button>
    </div>
</div>

