
@{
    ViewBag.Title = "PickStock";
}

<h2>Pick your Stock Source</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Yahoo Finance</h2>
        <h4>This stock data was obtained using Selenium</h4>
        <p>
            TODO
        </p>
        <button>@Html.ActionLink("Current Data", "Index", "Stocks")</button>
        <button>@Html.ActionLink("Stock History", "Index", "StockHistories")</button>

        <p>@Html.ActionLink("Go to Stocks", "Index", "NasdaqStockCurrents")</p>
    </div>
    <div class="col-md-4">
        <h2>Most active stock list on the Nasdaq Website</h2>
        <h4>This stock data was obtaiend using Html Agility-Pack</h4>
        <p>
            TODO
        </p>
        <button>@Html.ActionLink("Current Data", "Index", "NasdaqStockCurrents")</button>
        <button>@Html.ActionLink("Stock History", "Index", "NasdaqStockHistories")</button>
    </div>
    <div class="col-md-4">
            <h2></h2>
            <p></p>
        </div>
</div>

