@model IronScraperMVC.Models.FinancialContentCurrent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FinancialContentCurrent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceChange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Symbol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
